input[type=text] {
  border: 2px Green;
  border-radius: 2px;
}

body 
{
padding-left: 11em;
padding-right: 20em;
font-family:
Georgia, "Times New Roman",
Times, serif; 
color: #191970;
background-color: #7FFFD4
}

div{
	text-align: center;
}

input[type=password] {
  border: 2px Green;
  border-radius: 2px;
}

input[type=text] {
  width: 20%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=radio] {
  width: 2%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text] {
  background-color: #FFE4E1;
  color: black;
}

input[type=password] {
  background-color: #FFE4E1;
  color: black;
}

button[type=submit] {
  background-color: #191970; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
